# Archivo: compose.yaml
version: '3.8'

services:
  app-api:
    image: detail-shop-api:latest
    container_name: detail-shop-container
    build: . # Indica a Compose que construya la imagen usando el Dockerfile en el directorio actual
    ports:
      - "8080:8080"
    # Sobrescribir las variables de Spring Boot directamente aquí
    env_file:
      - .env
    environment:
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=${GOOGLE_ID}
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=${GOOGLE_SECRET}
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_FACEBOOK_CLIENT_ID=${FACEBOOK_ID}
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_FACEBOOK_CLIENT_SECRET=${FACEBOOK_SECRET}
     
    restart: always # Opcional: Reinicia automáticamente si falla